.sidebar{
    width: 100%;
    display: flex;
    justify-content: center;
    &__form{
        margin: 1rem;
    }
    &__search{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--input{
            width: 15rem;
        }
    }

    &__upload{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--label{
            margin-top: 0;
        }

        &--input{
            padding-left: 75px;
            margin-bottom: 1rem;
        }
    }


    &__button{
        margin: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--btn{
            margin: 1rem;
            align-self: center;
        }
    }

    &__toggle--btns{
        display: flex;
        justify-content: center;
    }
    .button{
        padding: 1rem;
    }
}

.form__upload{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    align-items: center;
    padding: .5rem;
    &--input{
        padding-left: 4.5rem;
    }
    &--btn{
        margin-top: 1rem;
    }
}
.red{
    color: red;
}

.image{
    display: flex;
    justify-content: center;
}

p{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}

input{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}

label{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}